@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	background-size: 30px 30px;
	background-image: radial-gradient(circle, #1a1a1a 1.5px, rgba(0, 0, 0, 0) 1px);
}
